<div class="starred">
  <h2>Starred</h2>
  <h3 *ngIf="starred.length == 0">No Starred Links.</h3>
  <ol>
    <li *ngFor="let article of starred; let i = index">
      <a [href]="article.url" target="_blank">
        <article>
          <div class="content">
            <h2>{{ article.title | removeSrc }}</h2>
            <h3>{{ article.source.name }}</h3>
          </div>
          <div class="tooltip trailing">
            <i class="material-icons" (click)="removeStarred(article, $event)"
              >remove_circle</i
            >
            <!-- <span class="tooltiptext">Read Later</span> -->
          </div>
        </article>
      </a>
    </li>
  </ol>
</div>
