.ui-message-container {
  width: 100%;
  position: fixed;
  z-index: 1090;
}

.col-xs-12{
  background: none;
}

.alert-container{
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
}

.alert{
  background:var(--headline);
  color: var(--button-text);
  display: flex;
  align-items: center;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
}

.text-right{
  text-align: right;
}

.no-margin{
  margin: 0;
}

.margin-top{
  margin-top: 1em;
}
