.container {
  font-family: "Montserrat", sans-serif;
  background: var(--headline);
  color: var(--button-text);
  width: 22em;
  height: calc(100vh - 2em);
  padding: 1em;
  position: relative;
  transition: all 300ms ease-in-out;
  @media (max-width: 800px) {
    position: fixed;
    width: calc(100vw - 2em);
    height: 3em;
    top: calc(100vh - 4.3em);
  }
  &.mobile {
    @media (max-width: 800px) {
      top: 0;
      height: calc(100vh - 2em);
    }
  }
  hr {
    @media (max-width: 800px) {
      display: none;
    }
  }
  &.close {
    width: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease-in-out;
    @media (max-width: 800px) {
      width: calc(100vw - 2em);
    }
    h1 {
      margin-bottom: 0.5em;
    }
    hr {
      margin-top: 1.5em;
      width: 2em;
    }
    .title {
      flex-direction: column;
    }
    .action {
      left: 50%;
      transform: translate(-50%);
    }
  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .leading {
      display: flex;
      justify-content: space-between;
      @media (max-width: 800px) {
        width: 5em;
      }
      .leading-menu {
        display: none;
        cursor: pointer;
        @media (max-width: 800px) {
          display: inline;
        }
      }
    }
    .leading > i:hover {
      cursor: pointer;
    }
  }
  h1 {
    margin: 0;
  }
  .inner {
    // margin-top: 2em;
  }
  ol {
    list-style: none;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-top: 1.5em;
      padding: 1em 0;
    }
    li:hover {
      border-bottom: 2px solid var(--button-text);
      margin-bottom: -2px;
      cursor: pointer;
    }
    li > .active-hover {
      position: absolute;
      left: 4em;
      background: var(--headline);
      padding: 1em;
      border-radius: 0 1em 1em 0;
    }
  }
  .action {
    position: absolute;
    right: -1.3em;
    bottom: 2em;
    @media (max-width: 800px) {
      display: none;
    }
    span {
      visibility: hidden;
    }
    button {
      padding: 1em;
      border: none;
      border-radius: 2em;
      background: var(--headline);
      color: var(--button-text);
    }
    button:hover {
      cursor: pointer;
    }
  }
}
