.reader {
  width: calc(100% - 3em);
  padding: 1em;
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: calc(100vh - 2em);
  font-family: "Montserrat", sans-serif;
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background: var(--headline);
      color: var(--button-text);
      margin-bottom: 1em;
      padding: 0.5em 1em;
      &:hover {
        cursor: pointer;
        h2 {
          text-decoration: underline;
        }
        .trailing {
          visibility: visible;
        }
      }
    }
  }
  article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .trailing {
      visibility: hidden;
    }
    .leading {
      width: 2em;
      img {
        width: 100%;
      }
    }
    h3 {
      color: var(--button);
    }
    h2,
    h3 {
      margin: 0;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.3em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: -6.4em;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
